@use '../../utilities/variables' as utils;

.radioo {
    position: relative;
    label {
        background-color:#EEEEEE;
        cursor: pointer;
        display:flex;
        justify-content:center;
        align-items:center;
        padding-top:12px;
        padding-bottom:12px;
        border-radius: utils.$radius;
        color: utils.$black-color;
        font-weight: utils.$bold-waight;
        font-size:utils.$text-3;
    }
    input{
        opacity: 0;
        position: absolute;
    }
    input:checked + label {
        background: utils.$black-color;
        color: utils.$white-color;
    }
}

.fullW{
    width:100%;
}

.rnd{
    label{
        padding:20px;
        border-radius: 50%;
    }
}

.boxy{
    label{
        padding:60px;
    }
}