@use '../../utilities/variables' as utils;

.btn {
    padding: 20px 60px;
    display: inline-block;
    background-image: utils.$background-image;
    cursor: pointer;
    border: 2px solid rgba(0,0,0,0);
    border-radius: utils.$radius;
    p{
        font-weight: utils.$bold-waight;
        font-size:calc(utils.$text-1*1.2);
        color: utils.$white-color;
    }
    &:hover {
        border-left-color: utils.$secondary-color-2;
        border-right-color: utils.$secondary-color-1;
        border-top-color: utils.$secondary-color-1;
        border-bottom-color: utils.$secondary-color-2;
        background-image: linear-gradient(120deg, #000000 0%, #000000 100%);
        p{
            background-image: utils.$background-image;
            background-clip: text;
            color: transparent;
        }
    }
}

.full{
    width: 100%;
    text-align: center;
    p{
        font-size: utils.$text-3;
    }
}
