@use '../../utilities/variables' as utils;

.btn {
    padding: 20px 60px;
    display: inline-block;
    background: utils.$background-image padding-box,
                    utils.$background-image border-box;
    border: 5px solid transparent;
    cursor: pointer;
    border-radius: utils.$radius;
    p{
        font-weight: utils.$bold-waight;
        font-size:utils.$header-3;
        color: utils.$white-color;
    }
    &:hover {
        background: linear-gradient(utils.$black-color, utils.$black-color) padding-box,
                    utils.$background-image border-box;
        border: 5px solid transparent;
      
        p{
            background-image: utils.$background-image;
            background-clip: text;
            color: transparent;
        }
    }
}

.full{
    width: 100%;
    text-align: center;
    padding: 20px 0;
    p{
        font-size: utils.$text-3;
    }
}
