@use '../../utilities/variables' as utils;

.btn {
    padding: 20px 60px;
    display: inline-block;
    background-image: utils.$white-color;
    cursor: pointer;
    border: 1px solid transparent;
    border-radius: 40px;
    p{
        font-weight: 600;
        font-size:32px;
        letter-spacing: 1.2px;
        background-image: utils.$background-image;
        background-clip: text;
        color: transparent;
    }

}

.grad {
    background-image: utils.$background-image;
    p{
        color: utils.$white-color;
    }
    &:hover {
        border-color: utils.$white-color;
        background-image: linear-gradient(120deg, #000000 0%, #000000 100%);
        p{
            background-image: utils.$background-image;
            background-clip: text;
            color: transparent;
        }
    }
}