.mantine-Tabs-body{
    width: 100%;
    height: 100%;
    padding: 30px;
}
// dots
.dotInner {
    background-color:white;
    color: white;
    font-size:1px;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    border:1px solid black;
}
.dotControl{
    &:hover{
        background-color:white;
    }
    background-color:white;
    padding: 10px 0;
}
.dotWrapper{
    .dotActive{
        background-color:white;
        .dotInner{
            background-color:black;
            color: black;
        }
    }
} 

