@use 'utils' as utils;

html{
    font-size: 100%;
    box-sizing: border-box;
}


*, *::before, *::after {
    box-sizing: inherit;
}

body{
    font-family: utils.$primary-font;
    margin: 0;
    padding: 0;
    background-color: utils.$black-color;
    color: utils.$white-color;
}

a, a:visited, a:hover, a:active {
    color: utils.$white-color;
    text-decoration: none;
}