$regular-waight: 400;
$bold-waight: 700;
$extrabold-waight: 800;

$radias: 30px;

$black-color: #000;
$gray-color: #191818;
$white-color: #fff;

$background-image: linear-gradient(120deg, #a764ff 0%, #f04293 100%);