$regular-waight: 400;
$bold-waight: 700;
$extrabold-waight: 800;

$radius: 30px;
$padding-x: 140px;

$black-color: #000;
$gray-color: #222121;
$white-color: #fff;
$secondary-color-1: #ad62f8;
$secondary-color-2: #f04293;

$primary-font: 'Raleway', sans-serif;
$secondary-font: 'Rakkas', cursive;


$background-image: linear-gradient(120deg, $secondary-color-2 0%, $secondary-color-1 100%);