@use '../../utilities/variables' as utils;

.radioo {
    position: relative;
    label {
        background-color: utils.$light-gray-color;
        cursor: pointer;
        display:flex;
        justify-content:center;
        align-items:center;
        padding:12px;
        border-radius: utils.$radius;
        color: utils.$black-color;
        font-weight: utils.$bold-waight;
        font-size:utils.$text-3;
    }
    input{
        opacity: 0;
        position: absolute;
        height: 100%;

        &:checked + label {
            background-color: utils.$black-color;
            color: utils.$white-color;
        }
    }

}

.fullW{
    width:100%;
}

.rnd{
    position: relative;
    label{
        background-color: utils.$light-gray-color;
        cursor: pointer;
        display:flex;
        justify-content:center;
        align-items:center;
        border: 1px solid transparent;
        padding:20px;
        border-radius: 50%;
    }
    input{
        opacity: 0;
        position: absolute;
        height: 100%;
    }
    input:checked + label{
        border: 5px solid utils.$gray-color;
    }
}

.boxy{
    label{
        padding:60px;
    }
}