@use '../../utilities/variables' as utils;

.showcase{
    min-height:100vh;
    width:100%;
    text-align:center;
    color:utils.$white-color;
    display:flex;
    justify-content:center;
    align-items:center;
    padding: 0 utils.$padding-x;
    .card{
        width:100%;
        max-width:utils.$max-width;
        background-color: utils.$gray-color;
        border-radius: utils.$radius;
        padding: 5.5rem 8rem;
        &>h1{
            font-size: utils.$header-2;
            font-weight:utils.$bold-waight;
            &>span{
                background-image: utils.$background-image;
                background-clip: text;
                color: transparent;
            }
        }
        &>p{
            margin-top:3rem;
            font-size: utils.$text-1;
            font-weight: utils.$regular-waight;
            line-height: utils.$line-height; 
        }
    }
}