@use 'variables' as utils;

html{
    font-size: utils.$text-3;
    box-sizing: border-box;
    letter-spacing:1.2px;
    overflow-x: hidden;
}


*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: utils.$primary-font;
    margin: 0;
    padding: 0;
    background-color: utils.$black-color;
    color: utils.$white-color;
}

a, a:visited, a:hover, a:active {
    color: utils.$white-color;
    text-decoration: none;
}