//weights
$regular-waight: 300;
$bold-waight: 600;
$extrabold-waight: 800;

// Header
$header-1: 7rem;
$header-2: 4.2rem;
$header-3: 2.1rem;

// Text
$text-1: 1.5rem;
$text-2: 1.3rem;
$text-3: 1rem;

// Fonts
$primary-font: 'Raleway', sans-serif;
$secondary-font: 'Rakkas', cursive;

// Colors
$black-color: #000;
$gray-color: #222121;
$light-gray-color: #909090;
$white-color: #fff;
$secondary-color-1: #ad62f8;
$secondary-color-2: #f04293;
$background-image: linear-gradient(120deg, $secondary-color-2 0%, $secondary-color-1 100%);

// sizing
$radius: 30px;
$padding-x: 140px;
$max-width: 1500px;
$line-height:1.6em;
