//weights
$regular-waight: 300;
$bold-waight: 600;
$extrabold-waight: 800;

// Header
$header-1: 8rem;
$header-2: 4.2rem;
$header-3: 2.1rem;
$header-4: 1.8rem;

// Text
$text-1: 1.5rem;
$text-2: 1.3rem;
$text-3: 1rem;

// Fonts
$primary-font: 'Raleway', sans-serif;
$secondary-font: 'Rakkas', cursive;

// Colors
$black-color: #000;
$gray-color: #222121;
$light-gray-color: #909090;
$white-color: #fff;
$secondary-color-1: #7b2ff7;
$secondary-color-2: #f107a3;

$background-image: linear-gradient(250deg, #7b2ff7, #f107a3);

// sizing
$radius: 30px;
$padding-x: 140px;
$max-width: 1700px;
$line-height:1.6em;
