@use './utilities/utils' as utils;


.team-members{
    width: 100%;

    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    cursor: grab;
    

    .team-title{
        font-size: 2.0rem;
        font-weight: utils.$bold-waight;
        margin: 50px 0;
        margin-left: utils.$padding-x;
    }

    .scroll-container{
        width: 100%;
        overflow-x: hidden;
        overflow-y: hidden;
        

        .cards{
            width: 150%;
            margin-left: 100px;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }    

}


.box{

    width: 300px;
    height: auto;
    padding: 30px;
    margin-right: 30px;
    background-color: utils.$gray-color;
    color: utils.$white-color;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: utils.$radius;
    border-bottom: 12px solid utils.$secondary-color-2;

    .content{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        img{
            width: 90px;
            height: 90px;
            margin-bottom: 20px;
            border-radius:100px;
            overflow: hidden;
            object-fit: cover;
            object-position: top;
        }

        strong{
            font-weight: utils.$bold-waight;
        }

        p{
            margin-top: 10px;
            font-size: 0.9rem;
            color: utils.$white-color;
            cursor: pointer;

            &:hover{
                text-decoration: underline;
            }
        }

    }

    .btn{
        display: flex;
        justify-content: center;
        align-items: center;
        

        a{  
            fill: utils.$white-color;

            svg{
                margin: 10px;
            }

            &:hover{
                fill: utils.$secondary-color-2;
                transition: all ease 0.1s;
            }

        }
    }
}

