@use '../../utilities/variables' as utils;

.page {
    display:flex;
    width:100%;
    height:100%;
    justify-content: space-between;
    align-items: center;
    gap: 40px;

    .controller{
        width:40%;
        height:100%;
        display: flex;
        justify-content: center;
        align-items: center;
        &>div{
            width:70%;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            gap: 40px;
            h2{
                font-size: utils.$text-1;
                text-align: center;
            }
            .formOne{
                display: flex;
                justify-content: space-between;
                align-items: center;
                width: 100%;
                gap: 20px;
                margin-bottom: 30px;
            }
        }
    }
    .canvas-container {
        background-color:black;
        width:60%;
        height:100%;
        border-radius: utils.$radius;
        justify-content: center;
        align-items: center;
    }
}

.formTwo{
    display:flex;
    width:40%;
    height:100%;
    justify-content: center;
    align-items: center;

    .formTwoWrapper{
        width:80%;
        max-height:50%;
        display:flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 50px;
    }
    .mantine-Tabs-body{
        height: 320px;
        width: 100%;
        padding: 40px 0 0;
        display:flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 30px;
    }

    .inputDiv{
        display: flex;
        width:100%;
        height: auto;
        justify-content: space-between;
        gap:25px;
        div{
            width:50%;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 25px;
        }
        input[type="text"]{
            height: 50px;
            min-width: 100px;
            width: 100%;
            border-radius: 30px;
            border: 0px;
            padding: 5px 25px;
            font-size: utils.$text-3;
            color: #333;
            background-color: rgb(233, 233, 233);
            outline: none;
            text-align: center;
        }
    }
    .radiogrp{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1.2rem;
        flex-wrap: wrap;
    }
}


// tabs
.tabsList{
    border: 2px solid black;
    border-radius: utils.$radius;
    overflow: hidden;
    width: 100%;
    height: 50px;
    .mantine-Tabs-tabLabel{
        font-size: utils.$text-2;
        font-weight: bold;
        color: black;
    }
    .tabControl{
        padding: 0;
        background-color:white;
        height:100%;
    }

    .activeTab{
        border-radius: utils.$radius;
        background-color:black;
        .mantine-Tabs-tabLabel{
            background-image: utils.$background-image;
            background-clip: text;
            color: transparent;
        }
    }
}
