@use "../../utilities/variables" as utils;


.preview{
    height: 92%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
}

.preview-container {
  background-color: utils.$light-gray-color;
  width: 86vw;
  height: 80%;
  border-radius: utils.$radius;
  display: flex;


  .canvas-container {
    position: relative;
    border-radius: utils.$radius;
    background-color: utils.$black-color;
    height: 100%;
    display: flex;
    width: 80%;
        

    .pose-btns {
      position: absolute;
      bottom: 0;
      width: 100%;
      height: 14%;
      padding: 10px;
    }

    .pose-btn {
      width: 50px;
      height: 50px;
      border-radius: utils.$radius3;
      margin: 0 5px;
      background: utils.$light-gray-color;

      P {
        color: utils.$black-color;
        font-weight: utils.$extrabold-waight;
      }

      &:hover {
        background: utils.$white-color;
        width: 51px;
        height: 51px;
      }
    }
  }

  


  .selection-list{
    width: 20%;
    overflow: hidden;
    padding: 10px 0;


    .selection-items{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        cursor: grab;


        .item{
            width: 90%;
            cursor: pointer;

            .item-image{
                width: 100%;
                padding: 10px;

                img{
                    pointer-events: none;
                    width: 100%;
                    height: 100%;
                    border-radius: utils.$radius3;
                }
            }
        }
    }
  }


  .selected{
    background: linear-gradient(utils.$light-gray-color, utils.$light-gray-color) padding-box,
                utils.$background-image border-box;
                border: 3px solid transparent;
  }
}

.back-btn{
    background: none ;
    background-color: utils.$black-color;
    width: 20%;

    &:hover{
        background-color: utils.$white-color;
        border: 3px solid utils.$black-color;
        p{
            color: utils.$black-color;
        }
        
    }
}