@use '../../utilities/variables' as utils;


.gar-type-container{
    display: block;
    padding: 8vh 0;
    overflow: hidden !important;
    
    .gar-type-body{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        padding: 3% 3%;
        border-radius: utils.$radius2;
        height: 100%;

        .garments{
            margin: 10px 0;
            display: flex;
            align-items: center;
            justify-content: space-around;

            img{
                background-color: utils.$light-gray-color;
                border-radius: utils.$radius;
                padding: 50px;
                width: 20%;
                height: 20%;
                cursor: pointer;

                &:hover{
                    background: linear-gradient(utils.$light-gray-color, utils.$light-gray-color) padding-box,
                    utils.$background-image border-box;
                    border: 3px solid transparent;
                }

            }

            .clicked{
                background: linear-gradient(utils.$light-gray-color, utils.$light-gray-color) padding-box,
                utils.$background-image border-box;
                border: 3px solid transparent;
            }

            
        }
        
        .gar-type-btns{
            margin-top: 5%;
            display: flex;
            align-items: center;
            justify-content: space-around;
            width: 80%;


            .gar-type-btn{
                width: 45%;
               cursor: pointer;

                &:hover{
                    background-color: utils.$white-color;
                    color: utils.$black-color;
                }
            }
        }
    }

    
}