@use '../../utilities/variables' as utils;

.modal{
    height: 80vh;
    border-radius: utils.$radius;
    .modalHeader{
        background-image: utils.$background-image;
        padding:18px 40px;
        color:utils.$white-color;
        font-size:utils.$text-1;
        font-weight:utils.$bold-waight;
        .close{
            cursor: pointer;
            padding:0 3px;
            font-size:utils.$text-1;
        }
    }
    .modalBody{
        overflow: visible;
    }
}