@use '../../utilities/variables' as utils;

.btn {
    display: inline-block;
    background: utils.$background-image padding-box, utils.$background-image border-box;
    border: 3px solid transparent;
    cursor: pointer;
    border-radius: utils.$radius2;
    width: 100%;
    padding: 6px;
    margin: 10px 0;

    p{
        font-weight: utils.$bold-waight;
        font-size: utils.$text-1;
        color: utils.$white-color;
        text-align: center;
    }
    &:hover {
        background: linear-gradient(utils.$white-color, utils.$white-color) padding-box, utils.$background-image border-box;
        border: 3px solid transparent;
        p{
            background-image: utils.$background-image;
            background-clip: text;
            color: transparent;
        }
    }
}

.blk{
    background: black;
}
