@use "../../utilities/variables" as utils;



header {
  width: 100%;
  height: 100vh;
  padding: 80px utils.$padding-x 0 utils.$padding-x;
  position: relative;
  
  .header-inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 999;
    .logo {
      font-weight: utils.$bold-waight;
      font-family: utils.$secondary-font;
      font-size: utils.$text-1;
      letter-spacing: 4px;

      &:hover {
        cursor: pointer;
      }
    }
    nav {
      button {
        font-weight: utils.$bold-waight;
        font-size: utils.$text-2;
        color: utils.$white-color;
        letter-spacing: 1.2px;
        text-transform: capitalize;
        background-color: transparent;

        &:hover {
          cursor: pointer;
          text-decoration: underline;
        }
      }
    }
  }

  .title {
    margin: 0;
    width: 100%;
    max-width: 100%;
    height: 100%;
    position: absolute;
    top: 50%;
    left: 0;
    
    // box-shadow: black 0px 0px 10px;

    h1 {
      font-size: utils.$header-1;
      font-weight: utils.$extrabold-waight;
      text-align: center;
      text-shadow: 10px 10px 10px #000000;
      // background-image: utils.$background-image;
      // background-clip: text;
      color: utils.$white-color;
    }
  }

  .header-canvas-container {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;

  }
}
