@use "../../utilities/variables" as utils;

.box {
    background:  border-box;
    padding: 40px 60px;
    background-color: utils.$gray-color;
    color: utils.$white-color;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: utils.$radius;
    width: 600px;
    height: 100%;
  // border-bottom: 12px solid utils.$secondary-color-2;

  &:hover {
    background: linear-gradient(utils.$gray-color, utils.$gray-color) padding-box,
                utils.$background-image border-box;
    border: 5px solid transparent;
    
    // strong{
    //   background-image: utils.$background-image;
    //   background-clip: text;
    //   color: transparent;
    // }
  }

  .img {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    img {
      width: 180px;
      height: 180px;
      border-radius: utils.$radius;
      overflow: hidden;
      object-fit: cover;
      object-position: top;
      pointer-events: none
    }
  }

  .content {
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    strong {
      font-weight: utils.$bold-waight;
      font-size: utils.$header-4;
      margin-bottom: 5px;
      
    }

    p {
      margin-bottom: 6%;
      font-size: utils.$text-2;
      letter-spacing: 1px;
      color: utils.$light-gray-color;

      &:hover {
        text-decoration: underline;
        cursor: pointer;
      }
    }

    .btns {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      width: 100%;
      padding: 0;

      a {
        fill: utils.$white-color;

        svg {
          margin-right: 15px;
        }

        &:hover {
          fill: utils.$light-gray-color;
          transition: all ease 0.2s;
        }
      }
    }
  }
}
