@use "../../utilities/variables" as utils;

.team-members {
  width: 100%;
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  overflow: hidden !important;

  .team-title {
    font-size: utils.$header-2;
    font-weight: utils.$bold-waight;
    margin: 50px 0;
    margin-left: utils.$padding-x;
  }

  .cards-container{
    width: 100%;
    padding-left: utils.$padding-x;
    

    
    
    .cards {
        padding: 0 20px;
        width: 3500px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        cursor: grab;
    }
  }

  
}
