@use '../../utilities/variables' as utils;

.section{
    min-height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: utils.$white-color;
    padding: 0 utils.$padding-x;    

    .contant{
        width: 60%;
        max-width: calc(utils.$max-width*0.6);
        &>p{
            font-size: utils.$text-1;
            font-weight: utils.$regular-waight;
            margin-bottom: 120px;
            line-height: utils.$line-height; 
        }
        &>h1{
            font-size: utils.$header-2;
            font-weight: utils.$bold-waight;
            margin-bottom: 80px;
            background-image: utils.$background-image;
            background-clip: text;
            color: transparent;
        }
    }
    .image3d {
        width: 40%;
        max-width: calc(utils.$max-width*0.4);
    }
}

.rev{
    flex-direction: row-reverse;
}
