@use '../../utilities/variables' as utils;


.register-container{
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

    .register-title{
        margin: 20px 0;
    }
}