@use '../../../utilities/variables' as utils;

.TshirtPage{

    width: 100%;
    height: 100%;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap:50px;
    
    &>h2 {
        font-size: calc(utils.$header-3 * 1.2);
    }

    .TshirtPage-drops,
    .TshirtPage-btns{
        display:flex;
        justify-content: center;
        align-items: center;
        gap:50px;
    }

    .TshirtPage-btns {
        width:45%;
    }

    .TshirtPage-input{
        height: 60px;
        margin-bottom:25px;
    }
}